html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(-90deg, #CAA7CD, #A7C4CD);
    font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:link,
a:active,
a:visited {
    color: #333;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 1em 1em 1em;
}

.header {
    text-align: center;
    padding: 1em 0;
}

h1 {
    display: inline-block;
    margin: 0;
    padding: .5em;
    background: #fff;
}

.controls ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
}

.controls li {
    display: inline-block;
    margin: 0 .5em .5em 0;
    padding: .5em;
    background: #fff;
}

.controls button {
    background: none;
    border: 0;
    color: #4A90E2;
    font-weight: bold;
    text-decoration: underline;
}

.demo {
    text-align: center;
}

.demo ul {
    list-style: none;
}

.demo li {
    display: inline-block;
    padding: .5em;
    background: #fff;
}

.demo p {
    padding: .5em;
    background: #fff;
    text-align: left;
}

.demo p:first-child {
    font-size: 1.4em;
}

.demo p:nth-child(2) {
    font-size: 1.2em;
}
